# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/recipe-app-29d1d-firebase-adminsdk-fbsvc-ad98bb22f1.json
/.idea/